= content_for :client, @client

%p

%p
  %b Name:
  = @client.name
%p
  %b Surname:
  = @client.surname
%p
  %b Email:
  = @client.email
%p
  %b Phone:
  = @client.phone

= link_to 'Edit', edit_client_path(@client)
\|
= link_to 'Back', clients_path
