<!DOCTYPE html>
<html>
<head>
  <title>AppMiniBank2</title>
  <meta name="viewport" content="width=device=width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
      body {
          padding-top: 60px; /* 60px to make the contianer go all the way to the boottom of the topbar */

      }
  </style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse"
              data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">MinibankApp</a>
      <% if current_client%>
        <a class="brand" href="#"><%= yield :client %></a>
      <% end %>

      <div class="nav-collapse collapse">
        <% if @client && !@client.new_record? %>
            <ul class="nav">
              <li><%= link_to 'Konta', client_accounts_path(@client)  %></li>
              <li><%= link_to 'Wyloguj', logout_path %></li>
            </ul>
        <% end %>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
  <% if notice.present? %><p class="alert alert-success"><%= notice %></p>
      <% end %>
  <% if alert.present? %><p class="alert alert-success"><%= alert %></p>
      <% end %>
  <%= yield %>
</div>


</body>
</html>







